In [1]:
%matplotlib inline
%matplotlib notebook

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')

from analyser import *

In [17]:
subs = import_submissions(course_id = "C00199", dbname="test1")
subs.describe()

,submission_uid,user_id,problem_id,submission_id,state,time_out,time_in,veredict,score
count,98602,98602,98602,98602,98602,98601,98602,98602,0.0
unique,98602,448,312,47,2,96505,96390,8,0.0
top,S001570027,U14563,P89265,S001,done,2015-12-07 00:39:36,2015-09-09 11:45:39,AC,NaN
freq,1,962,2371,47477,98601,4,5,49228,NaN
first,NaN,NaN,NaN,NaN,NaN,2010-09-17 13:12:52,2010-09-12 09:21:19,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2016-02-24 09:24:20,2016-02-24 09:24:15,NaN,NaN

In [7]:
#mat = bianary_mat(subs)
#mat = succes_mat(subs)

In [18]:
from timeit import default_timer as timer

start = timer()
mat = bianary_mat(subs)
end = timer()
print(end - start), 'seconds'

3.79601812363 seconds

In [19]:
from timeit import default_timer as timer

start = timer()
mat = succes_mat(subs)
end = timer()
print(end - start), 'seconds'

# it took 129.460775852 seconds to compute

KeyboardInterrupt:

In [10]:
subs2 = import_all_submissions(dbname="test1")
subs2.describe()

,submission_uid,user_id,problem_id,submission_id,state,time_out,time_in,veredict,score
count,1394765,1394765,1394765,1394765,1394765,1394764,1394765,1394765,5752
unique,1394765,7539,1191,84,2,1302085,1329019,11,47
top,S000805276,U14908,P97156,S001,done,2012-10-16 19:57:44,2006-09-20 09:29:26,AC,100/100
freq,1,2357,21271,522981,1394764,8,10,608361,1612
first,NaN,NaN,NaN,NaN,NaN,2010-07-12 11:07:31,2006-09-09 11:13:56,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2016-02-24 09:24:20,2016-02-24 09:24:15,NaN,NaN

In [12]:
from timeit import default_timer as timer

start = timer()
mat2 = bianary_mat(subs2)
end = timer()
print(end - start), 'seconds'

66.0409088135 seconds

In [14]:
mat2.T.to_csv("allsubs.csv")

In [20]:
7539

7539