In [1]:
%matplotlib inline
%matplotlib notebook

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')

from analyser import *

In [2]:
subs = generate_submissions(users=4, pbls=4)

In [11]:
mat, v, h = process(subs, meth='svd', kind='bin', vert_name="Difficulties", hor_name='Abilities')

Proceed in 0.007 seconds
Using the svd method
Based on the bin matrix
For 4 users and 4 problems

In [12]:
mat

        U00000  U00001  U00002  U00003
P00000       0       1       1       0
P00002       0       1       0       0
P00003       1       0       0       0
P00001       0       0       0       1

In [13]:
pd.DataFrame(v)

        Difficulties
P00000      0.850651
P00002      0.525731
P00003      0.000000
P00001      0.000000

In [17]:
pd.DataFrame(h).T

           U00000    U00001    U00002  U00003
Abilities     0.0  0.850651  0.525731     0.0

In [18]:
mat, v, h = process(subs, meth='svd', kind='means', vert_name="Difficulties", hor_name='Abilities')

Proceed in 0.019 seconds
Using the svd method
Based on the means matrix
For 4 users and 4 problems

In [19]:
mat

        U00000  U00001  U00002  U00003
P00000    0.00     0.5     0.2     0.0
P00002    0.00     0.2     0.0     0.0
P00003    0.25     0.0     0.0     0.0
P00001    0.00     0.0     0.0     0.2

In [20]:
pd.DataFrame(v)

        Difficulties
P00000      0.943628
P00002      0.331007
P00003      0.000000
P00001      0.000000

In [21]:
pd.DataFrame(h).T

           U00000    U00001    U00002  U00003
Abilities     0.0  0.943628  0.331007     0.0